<form id="login-form" action="/sessions" method="POST" >
  <label>Username/Email: </label><input type="text" name="identifier"  />
  <label>Password: </label><input type="password" name="password" />
  <input type="submit" value="Login"  />
</form>
